<main class='container'>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>4</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <span class='particle'>0</span>
    <article class='content'>
      <p>Maldición extraño,</p>
      <p> Te perdiste en la galaxia <strong>404</strong>.</p>
      <p>
        <a (click)="Return()">Regresar a la tierra.</a>
      </p>
    </article>
</main>
