<div class="wrapper">
    <div class="page-header page-header-small" filter-color="blue">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg11.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/profile.jpg" alt="">
                </div>
                <h3 class="title">Juan Botero</h3>
                <p class="category">Desarrollador Web</p>
                <!-- <div class="content">
                    <div class="social-description">
                        <h2>2</h2>
                        <p>Lenguajes</p>
                    </div>
                    <div class="social-description">
                        <h2>2</h2>
                        <p>Framework</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="button-container">
              <a href="https://www.linkedin.com/in/juan-botero-b3337320b/" class="btn btn-default btn-round btn-lg btn-icon btn-new" rel="tooltip" title="Twitter" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/anvidgod_/" class="btn btn-default btn-round btn-lg btn-icon btn-new" rel="tooltip" title="Instagram" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://github.com/Anvidneo/" class="btn btn-default btn-round btn-lg btn-icon btn-new" rel="tooltip" title="GitHub" target="_blank">
                <i class="fab fa-github"></i>
              </a>
          </div>
          <h3 class="title">Acerca de mi</h3>
          <h5 class="description">Tecnólogo en Análisis y desarrollo de Sistemas de Información con 5 años adquiriendo conocimiento en el área, creando así buenas capacidades en crear aplicaciones desde sus inicios manejando grandes volúmenes de datos, buenas prácticas a la hora de desarrollar, un correcto manejo de los documentos requeridos para garantizar el buen uso, capacitación y satisfacción del cliente.</h5>
            <div class="row">
                <div class="col-md-12">
                    <!-- HOBBYS -->
                    <h4 class="title text-center">Mis Hobbys</h4>
                    <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_glasses "></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <main class="page-content">
                                    <div class="card" style="background-image: url(assets/img/pexels-luis-gomes-546819.jpg);">
                                        <div class="content">
                                            <h2 class="title">Autodidacta</h2>
                                            <p class="copy">Me gusta aprender nuevas tecnologias por mi propia cuenta.</p>
                                        </div>
                                    </div>
                                    <div class="card" style="background-image: url(assets/img/pexels-christina-morillo-1181263.jpg);">
                                        <div class="content">
                                            <h2 class="title">Ver videos informativos</h2>
                                            <p class="copy">Me encanta sentarme a ver videos de tecnologia y fisica.</p>
                                        </div>
                                    </div>
                                </main>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons tech_controller-modern "></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <main class="page-content one">
                                    <div class="card" style="background-image: url(assets/img/pexels-jeshootscom-442576.jpg);">
                                        <div class="content">
                                            <h2 class="title">Jugar videojuegos</h2>
                                            <p class="copy">Soy un apasionado por los juegos shooter y algunos ARPG.</p>
                                        </div>
                                    </div>
                                    <div class="card" style="background-image: url(assets/img/pexels-los-muertos-crew-7261084.jpg);">
                                        <div class="content">
                                            <h2 class="title">Stremear de videojuegos</h2>
                                            <p class="copy">Soy streamer recien comenzando, lo hago por gusto ya que me agrada interactuar y que mejor que jugando.</p>
                                        </div>
                                    </div>
                                </main>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons sport_user-run"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <main class="page-content one">
                                    <div class="card" style="background-image: url(assets/img/pexels-mael-balland-3195788.jpg);">
                                        <div class="content">
                                            <h2 class="title">Scout</h2>
                                            <p class="copy">Por algunos años fui Scout, y era algo que de verdad disfrutaba y espero retomar</p>
                                        </div>
                                    </div>
                                    <div class="card" style="background-image: url(assets/img/pexels-nina-uhlíková-287240.jpg);">
                                        <div class="content">
                                            <h2 class="title">Caminatas</h2>
                                            <p class="copy">Amo las caminatas pre-acampada, son de los mejores momentos que he pasado.</p>
                                        </div>
                                    </div>
                                </main>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    <!-- CONOCIMIENTOS -->
                    <h1 class="title text-center">Mis conocimientos</h1>
                    <div class="section section-team text-center">
                        <div class="container">
                            <div class="team">
                                <div class="row" style="margin-left: 10%;">
                                    <div class="col-md-3 card-knowledge">
                                        <div class="team-player">
                                            <img src="assets/img/logos/php.png" alt="PHP logo Image" class="rounded-circle img-fluid img-raised">
                                            <h4 class="title text-primary">PHP</h4>
                                            <p class="category text-primary">Lenguaje</p>
                                            <div class="progress-container progress-primary">
                                                <span class="progress-badge">Nivel</span>
                                                <ngb-progressbar [value]="80"><span class="progress-value">80%</span></ngb-progressbar><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 card-knowledge">
                                        <div class="team-player">
                                            <img src="assets/img/logos/javascript.png" alt="Javascript logo Image" class="rounded-circle img-fluid img-raised">
                                            <h4 class="title text-primary">JavaScript</h4>
                                            <p class="category text-primary">Lenguaje</p>
                                            <div class="progress-container progress-primary">
                                                <span class="progress-badge">Nivel</span>
                                                <ngb-progressbar [value]="75"><span class="progress-value">75%</span></ngb-progressbar><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 card-knowledge">
                                        <div class="team-player">
                                            <img src="assets/img/logos/angular.png" alt="Angular logo Image" class="rounded-circle img-fluid img-raised">
                                            <h4 class="title text-primary">Angular</h4>
                                            <p class="category text-primary">Framework</p>
                                            <div class="progress-container progress-primary">
                                                <span class="progress-badge">Nivel</span>
                                                <ngb-progressbar [value]="40"><span class="progress-value">40%</span></ngb-progressbar><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 card-knowledge">
                                        <div class="team-player">
                                            <img src="assets/img/logos/node-js.png" alt="Node.js logo Image" class="rounded-circle img-fluid img-raised">
                                            <h4 class="title text-primary">Node.js</h4>
                                            <p class="category text-primary">Framework</p>
                                            <div class="progress-container progress-primary">
                                                <span class="progress-badge">Nivel</span>
                                                <ngb-progressbar [value]="40"><span class="progress-value">40%</span></ngb-progressbar><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 card-knowledge">
                                        <div class="team-player">
                                            <img src="assets/img/logos/css.png" alt="CSS logo Image" class="rounded-circle img-fluid img-raised">
                                            <h4 class="title text-primary">CSS</h4>
                                            <p class="category text-primary">Hoja de estilos</p>
                                            <div class="progress-container progress-primary">
                                                <span class="progress-badge">Nivel</span>
                                                <ngb-progressbar [value]="75"><span class="progress-value">75%</span></ngb-progressbar><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 card-knowledge">
                                        <div class="team-player">
                                            <img src="assets/img/logos/html.png" alt="HTML logo Image" class="rounded-circle img-fluid img-raised">
                                            <h4 class="title text-primary">HTML</h4>
                                            <p class="category text-primary">Maquetador</p>
                                            <div class="progress-container progress-primary">
                                                <span class="progress-badge">Nivel</span>
                                                <ngb-progressbar [value]="75"><span class="progress-value">75%</span></ngb-progressbar><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ESTUDIOS -->
                    <h4 class="title text-center">Mis Estudios</h4>
                    <div class="col-md-12">
                        <ul class="timeline timeline-horizontal">
                            <li class="timeline-item">
                                <div class="timeline-badge primary"><i class="now-ui-icons education_hat"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Bachiller Técnico Especialidad en Informática.</h4>
                                        <p><small class="text-muted"><i class="now-ui-icons education_paper"></i> 2017 / Marinilla - Colombia </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Institución Educativa Román Gómez</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge info"><i class="now-ui-icons education_hat"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Tecnico en Desarrollo de software.</h4>
                                        <p><small class="text-muted"><i class="now-ui-icons education_paper"></i> 2017 / Marinilla - Colombia </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Servicio Nacional de Aprendizaje SENA</p> 
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge primary"><i class="now-ui-icons education_hat"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Tecnologia en Análisis y desarrollo en sistemas de información</h4>
                                        <p><small class="text-muted"><i class="now-ui-icons education_paper"></i> 2020 / Rionegro - Colombia </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>	Servicio Nacional de Aprendizaje SENA</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- EXPERIENCIA -->
                    <h4 class="title text-center">Mi experiencia laboral</h4>
                    <div class="col-md-12">
                        <div class="nav-tabs-navigation" data-tabs-color="orange">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center" >
                                    <ngb-tab title="Garantias Comunitarias">
                                        <ng-template ngbTabContent>
                                            <div class="content-exp">
                                                <div class="content-exp">
                                                    <div class="timeline-heading">
                                                        <h4 class="timeline-title tittle-edit">Programador</h4>
                                                        <p><small class="text-muted">De 20/08/2020 - 12/04/2021 (Medellín-Colombia) </small></p>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <p class="text-edit">Programador en una de las plataformas pertenecientes a la empresa, encargado de cumplir con los requerimientos asignados, creación, actualización y eliminación de módulos pertenecientes a la plataforma y gestión de la base de datos.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Grupo Bancolombia">
                                        <ng-template ngbTabContent>
                                            <div class="content-exp">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title tittle-edit">Aprendiz SENA </h4>
                                                    <p><small class="text-muted">De 23/10/2019 - 23/04/2020 (Medellín-Colombia)</small></p>
                                                </div>
                                                <div class="timeline-body">
                                                    <p class="text-edit">Creación, actualización y mantenimiento de macros en las diferentes herramientas ofimáticas como Excel, Outlook, Access y generación de informes. </p>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                    </div>
                    <!-- PORTAFOLIO  -->
                    <!-- <h4 class="title text-center">Mi Portafolio (Por agregar)</h4>
                    <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                        <ng-template ngbTabTitle>
                            <i class="now-ui-icons design_image "></i>
                        </ng-template>
                            <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-md-10 ml-auto mr-auto">
                                    <div class="row collections">
                                        <div class="col-md-12">
                                            <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Contacta conmigo</h2>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend" >
                        <span class="input-group-text">
                            <i class="now-ui-icons users_circle-08"></i>
                        </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend" >
                        <span class="input-group-text">
                                <i class="now-ui-icons ui-1_email-85"></i>
                        </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://github.com/Anvidneo/">
                            GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/juan-botero-b3337320b/">
                            LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="mailto:botero1400@gmail.com?subject=Me%20Interesa%20tu%20perfil">
                            Enviar un correo
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}
            </div>
        </div>
    </footer>
</div>
